@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Tayeb Code */
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* gap: 200px; */
}
/* end Tayeb Code */
/*---------- start code sabir class header and banner -----------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    list-style: none;
}
.header ul li{
    margin-top: 20px;
}
.header a{
    text-decoration: none;
    color:black;
}
.header .icon-hamburger{
    font-size: 40px;
}
.header .logo h1{
    font-size: 26px;
}
.hedaer .nav_bar .header_button{
    font-family: 'SemiBold', sans-serif;
}
.header .nav_bar .header_button .sign_up{
    color: white;
    background-color: black;
    padding:6px;
    width: 112px;
    height: 41px;
    border-radius: 2px;
}
.header .nav_bar .header_button .sign_up:hover{
    color: black;
    background-color: white;
    border: black 2px solid;
}

/* -------check icon humburger --------------*/
.header label::before{
    content: '\F0c9';
    font-family: 'FontAwesome';
}
header input{
    display: none;
}
.header .nav_bar{
    position: absolute;
    top: 45px;
    background-image: linear-gradient(to right, #FB7B30 , #A831A5);
    width:100%;
    text-align: center;
    height: 100%;
    z-index: 1;
    border-top: 2px solid black;
    display: none;
}
.header .nav_bar a{
    color: white;
}
.header .nav_bar a:hover{
    border-bottom: solid white 3px;
}
.header input[type="checkbox"]:checked + .nav_bar{
    display: block;
}


/* start class slide banner */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    text-align: center;
}
.banner h2,p,input,button{
    margin-top: 10px;
}
.banner .button_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner input{
    border-radius: 10px;
    padding: 10px;
    height:56px;
    width:346px;
}
.banner button{
    background-image: linear-gradient(to right, #FB7B30 , #A831A5);
    width: 210px;
    height: 52px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin:20px 0px;
}
.banner .hero-image{
    position: relative;
    bottom: 10px;
    width: 334px;
    height: 283px;
}

/* -------------fin code sabir class header and banner-----------*




/*********Style partie post-link  ch **************/
.post-link{
    background-color: black;
    height: 700px;
    margin-top: 70px;

 
}
.post-link h2{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 29px;
    font-weight: normal;
    font-family: sans-serif;
}

.img-svg{
    padding: 20px;
}
.images{
    width: 100%;  
}
.para-2 p{
    color: whitesmoke;
    font-size: 20px;
    margin-left: 55px;
    margin-top: 9px;
}
.btn-sign-exp {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: space-around;
}


.sign-in-gougle{
    background-color: white;
    text-align: center;
    color: black;
    padding: 15px;
    border-radius: 5px;
    width: 70%;
    text-decoration: none;
 
}
.explore{
    text-align: center;
    color: white;
    padding: 12px;
    border-radius: 5px;
    width: 50%;
    text-decoration: none;
    background: linear-gradient(to right,#f69d3c, #A831A5);
}
/* Tayeb CSS Mobile first*/
/* mobile login */
.local-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
}
.login-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-login-icon {
    width: 150px;
    height: 150px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-item {
    width: 100%;
}
form .form-item input {
    padding: 5%;
    width: 100%;
    border: black solid 1px;
    margin-top: 6%;
    /* margin-top: 5%; */
}
.btn {
    background: linear-gradient(to right,#f69d3c, #A831A5);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 32px;
    border: none;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 6% 0% 6% 0%;
}
.line {
    width: 100%;
    margin: 2%
}
.line hr {
    border: none;
    border-bottom: solid black 1px;
}
/*  end */
/* code grid images */
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item {
    width: 100%;
    height: 100%;
}
.grid-img {
    width: 100%;
    height: 100%;
}
/* end code grid images */


/*start code css khalid class rewards*/


.rewards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.rewards .article{
text-align: center;
padding: 10px;
}
.rewards .img1 img ,.img2 img{
    width: 100%;
}
.rewards .title1 {
    display: flex;
}

.rewards .title1 h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.rewards .article .section-article{
    margin-top: 20px;
    
}
.rewards .article .section-article span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
}
.section-rewards .article .section-article p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;   
}
.rewards .article .section-article .para{
    margin-bottom: 40px;
}
.rewards .article .section-article p a{
    color: #000;
}

.rewards .article button{
    width: 160px;
    height: 40px;
    background-image: linear-gradient(to right,#FB7B30,#A831A5);
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
  
}

.title2 {
    display: none;
}
/*fin code css khalid class rewards*/

/* start code css khalid page sign_up*/

.sign_up .info{

    display: flex;
    flex-direction: column;
    align-items: center;
      
}
.sign_up .imag{
    display: flex;
    justify-content: center;
}
.sign_up img{
    width: 150px;
    height: 150px;
    margin-top: 15px;
}
.sign_up .info input{
    margin-top: 6%;
}

.sign_up .input {
    width: 90%;
    height: 40px;
    padding-left: 10px;
   
     
}
.sign_up .buton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.sign_up button{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right,#FB7B30,#A831A5);
    color: white; 
    
    border: none;
    border-radius: 5px;
}
.sign_up hr{
    margin-top: 10px;
   width: 400px;
   background-color: rgb(83, 82, 82);
}
/* fine code css khalid page sign_up*/


/************* responsive partie post-link  *************/
@media screen and (min-width:605px) {
   .images{
       width: 60%;
   }
   
}   
@media screen and (min-width:768px){
    .post-link{
        height: 250px;
        padding: 5px;
    
    }
    .post-link h2{
        text-align: left;  
        padding: 10px; 
        margin-left: 30px;
        width: 650px;
    }
    .para-2 p{
        margin-left: 50px;
        margin-top: 0px;
    }
    .img-svg{
        padding: 5px;
    }
    .images{
        width: 27%;
        height: 310px;
        position: absolute;
        right: 65px;
        top: 990px;
        
    }
    .btn-sign-exp{
       flex-direction: row;
        justify-content: start;
        margin-left: 50px;
        font-size: 16px;
    }
   
    .sign-in-gougle, .explore{
         padding: 10px; 
    }
    .sign-in-gougle{
        width: 18%;
    }
    .explore{
        margin-left: 1%;
        width: 13%;
    }
    .sign-in-gougle a img{
        margin-top: 18px;
    }




/*start code css khalid class rewards media query*/


    .title1 {
        display: none;
    }
    .title2 {
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
   
    }
    .rewards{
        flex-direction: row;
        padding: 30px;
    }

    .rewards .title1 h1{
        
        position: absolute;
        left: 590px;
        bottom: 590px;
    }
    .rewards .article{
        width: 100%;
        padding-left:  50px;
        padding-right:  50px;
        text-align: start;
    }
    .rewards .img1 ,.img2 {  
        width: 70%;
    }
    .rewards .article .button{  
        display: flex;
        justify-content: center;
        margin-top:40px ;
       
    }
   /*fin code css khalid class rewards media query*/
    /* code Tayeb */
    .grid {
        /* testing */
        margin-bottom: 100px;
        /* end */
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(5, 70px);
        row-gap: 10px;
        column-gap: 10px;
    }
    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .item-3 .grid-img {
        position: relative;
        width: 80%;
        height: 80%;
        left: 10%;
    }
    .item-1 {
        grid-column: 1/4;
        grid-row: 1/3;
    }
    .item-2 {
        grid-column: 4/6;
        grid-row: 1/5;
    }
    .item-3 {
        grid-column: 1/4;
        grid-row: 3/5;
    }
    .item-4 {
        grid-column: 6/9;
        grid-row: 1/6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .item-4 .grid-item-img  {
        width: 100%;
        height: 48%;
    }
    .item-5 {
        grid-row: 1/3;
        grid-column: 9/11;
    }
    .item-6 {
        grid-column: 9/11;
        grid-row: 3/6;
    }
    /* end code Tayeb */

    /* start code sabir class header and banner responsive*/
    .header{
        gap: 50px;
    }
    .header label{
        display: none;
    }
    .header .nav_bar{
        border: solid black 2px;
        display: flex;
        justify-content: space-between;
        position: static;
        background-image:none;
        border: none;
    }
    .header .nav_bar ul{
        display: flex;
        margin-bottom: 20px;
        gap: 20px;
    }
    .header .nav_bar a{
        color: black;
    }
    .header .nav_bar a:hover{
        border-bottom: black 2px solid;
    }
    .banner{
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        height: 250px;
    }
    .banner .button_banner{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .banner .hero-image{
        position: absolute;
        right: 0;
        top: 60px;
    }
    .banner .button_banner input,button{
        margin: 0px 20px;
    }
    .banner h2,p,input,button{
        margin-left: 20px;
    }
    /* fin code sabir class header and banner responsive*/
}
/******************/
.footer{
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.explore-me{
    display: flex;
    flex-direction: row;
}
.footer .nav ul li a{
    color: white;
    text-decoration: none;
    }


.footer .nav ul li h4{
    margin-bottom: 5px;
}

.icon-social{
    margin-top: 20px;
    text-align: center;
}
.icon-social ul{
    float: left;
    margin-left: 15px;

}
.icon-social li{
 
        display: inline-block;
        background-color: white;
        margin: 5px;
   
}

.footer .nav ul {
    list-style: none;  
    margin: 12px;
    width: 100%;
  
       
}


.footer .nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-right: 40px;
    
}

.para-footer{
    text-align: center;
    width: 100%;
}
@media screen and (max-width:768px) {

    .footer .para-1{
        text-align: center;
    }
    .footer .nav{
        margin-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .explore-me{
    
    display: flex;
    justify-content: space-between;
    }
    .icon-social ul{
        float: none;
        margin-left: 15px;
    
    }
    .para-footer{
        background-color: black;
        color: grey;
        margin: 0px;
        padding-bottom: 10px;
    }
    
}



